{%extends 'base.html'%}


{%block content%}
<div class="_container">
    <div class="new_post">
        <a class="btn btn-primary" data-toggle="collapse" href="#collapsePostForm" role="button" aria-expanded="false" aria-controls="collapseExample">
            Create new post
        </a>
        <div class="collapse" id="collapsePostForm">
            <form method="POST" action="{% url 'main:posts'%}">
                {% csrf_token %}
                {{form.as_p}}
                    <button type="submit" class="btn btn-primary " >Post</button>
            </form>
        </div>
    </div>
    <div class="infinite_container">
        {% for post in page.object_list %}
            <div  class="infinite-item">
                <div class="post">
                    <div  class="author">
                        <a class="img" href="{% url 'main:public_profile' id=post.authorkey.id %}">
                            <img class="img_cirqle" src="{{MEDIA_URL}}{{post.authorkey.user_favicon}}">
                        </a>
                        <a class="name" href="{% url 'main:public_profile' id=post.authorkey.id %}">
                            {{post.authorkey.username}}
                        </a>
                    </div>
                    <div class="content">
                        <div class="title">
                            {{post.title}}
                        </div>
                        <div class="text">
                            {{post.content}}
                        </div>
                        <div class="date">
                            {{post.date_created}}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<div class="page-links">
    {% if page.has_next %}
        <a class="infinite-more-link" 
        href="{% url 'main:posts' %}?page={{ page.next_page_number }}">
        </a>
    {% endif %}
</div>
</div>
{%endblock%} 