{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div>
            <div class="card px-2 py-2">
                <form action="{% url 'main:profile_messages' %}?addressee_id=-1" method="POST">
                    {% csrf_token %}
                    {{dialogForm.as_p}}
                    <input type="submit" class="btn btn-primary " ></input>
                </form>
            </div>
            <div class="card px-2 py-2">
                {% for dialog in dialogs %}
                    <a class="btn btn-primary" 
                        data-toggle="collapse" 
                        href="#collapseDialog{{dialog.interlocutor.id}}" 
                        role="button" 
                        aria-expanded="false" 
                        aria-controls="collapseExample">
                        {{dialog.interlocutor}}
                    </a>
                    <div class="collapse" id="collapseDialog{{dialog.interlocutor.id}}">
                        {% if not dialog.messages %}
                            <h3>No messages!you can start chating hear</h3>
                        {% endif %}        
                        {% for message in dialog.messages %}
                            {% if message.author == request.user %}
                                <div class=" align_right">
                                    <a class="smouth_gray" href="{% url 'main:public_profile' id=message.author.id %}">
                                        <img class="image-fluid float-left img_cirqle mx-2 my-2" src="{{MEDIA_URL}}{{message.author.user_favicon}}">
                                    </a>
                                    <a class="smouth_gray" href="{% url 'main:public_profile' id=message.author.id %}">
                                        {{message.author.username}}
                                    </a>
                                    <h2>{{message.text}}:</h2>
                                    <h3>{{message.date_created.time}}</h3>
                                </div>
                            {% else %}
                                <div class="d-flex flex-row align_right">
                                    <a class="smouth_gray" href="{% url 'main:public_profile' id=message.author.id %}">
                                        <img class="image-fluid float-left img_cirqle mx-2 my-2" src="{{MEDIA_URL}}{{message.author.user_favicon}}">
                                    </a>
                                    <a class="smouth_gray" href="{% url 'main:public_profile' id=message.author.id %}">
                                        {{message.author.username}}
                                    </a>
                                    <h2>{{message.text}}:</h2>
                                    <h3>{{message.date_created.time}}</h3>
                                </div>
                            {% endif %}
                        {% endfor %}   
                        <form action="{% url 'main:profile_messages' %}?addressee_id={{ dialog.interlocutor.id }}" method="POST">
                            {% csrf_token %}
                            {{messageForm.as_p}}
                            <input type="submit" class="btn btn-primary " ></input>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="page-links">
            {% if page.has_next %}
                <a class="infinite-more-link" 
                href="{% url 'main:profile_messages' %}?page={{ page.next_page_number }}">
                </a>
            {% endif %}
        </div>

    </div>

    <script>
        let $infinite_container = $('.infinite_container').infiniteScroll({
        path: '.infinite-more-link',
        append: '.infinite-item',
        });
        let infScroll = $infinite_container.data('infiniteScroll');
    </script>

{% endblock %}

